.about
  &__subtitle
    &-lettersp
      letter-spacing: 2px
    &--second
      margin-top: 0
      padding-top: 3px
  &__content
    padding-top: 10px
    p
      margin: -10px 0 0 0
      line-height: 30px
      //letter-spacing: 2.2px
      text-align: right
      font-weight: 200
      font-family: $default-font
  &__collaborations
    margin: 110px 0
    &--gallery

    &--item
      padding: 35px 0

