.img-responsive
  display: block
  max-width: 100%
  height: auto

._center
  text-align: center

._right
  text-align: right

._flex-start
  align-self: flex-start

._rtl
  direction: rtl
._mb-15
  margin-bottom: 15px
._mb-45
  margin-bottom: 45px
._mb-80
  margin-bottom: 80px
._mt-40
  margin-top: 40px
._mt-80
  margin-top: 80px
