.sp
  &__title
    h1
      font-size: 150px
      padding: 0
    p
      display: inline-block
      margin-top: 0
  &__block
    text-align: right
    &--title
      font-size: 45px
      display: inline-block
      margin-top: -10px
      padding: 0
    &--text
      display: inline-block
      margin: 45px 0
      font-family: "Assistant"
      font-size: 25px
      line-height: 30px
      font-weight: 400
      padding: 0
    &--email
      display: inline-block
      margin: 25px 0
  &__carousel
    position: relative